body {
    font-family: sans-serif;
    background-color: #F0F0F0;
    color: #000000;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    padding: 20px;
    margin: 0;
}

audio {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

input[type="text"] {
    font-size: 1.3em;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    color: #2c2c2c;
    margin-bottom: 10px;
}

input[type="submit"] {
    font-size: 1.2em;
    background-color: #1A62BA;
    color: #ffffff;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #2E86DE;
}

button {
    padding: 10px;
    background-color: #3F51B5;
    color: #fff;
    border: none;
    font-size: 15px;
    font-family: sans-serif;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

button:hover {
    background-color: #5C6BC0;
}

div{
    display: flex;
    justify-content: center;
}

.vidas{
    width:30px;
    height:30px;
    margin: 0px 2px
}