@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
form {
    width: 60%;
    padding: 2em;
    border: 4px solid #000000;
    border-radius: 10px;
    margin: 50px auto;
    background-color: #1c1c1c;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    color: #ffffff;
}

form label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 14px;
    color: #b3b3b3;
}

form input {
    width: 100%;
    padding: 0.5em;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    margin-bottom: 1em;
    border: 0;
    border-bottom: 2px solid #ffdd00;
    background-color: #1c1c1c;
    color: #ffffff;
}

#registrar,#actualizar,#borrar, #iniciar {
    padding: 0.5em;
    background-color: #ffdd00;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    color: #1c1c1c;
    border: 0;
    border-radius: 10px;
    margin-top: 1em;
    cursor: pointer;
}

#registrar:hover, #actualizar:hover, #borrar:hover, #iniciar:hover{
    background-color: #000000;
    border: 2px solid #000000;
    color: #FFD700;
    text-shadow: 1px 1px 0px #000000;
    box-shadow: 2px 2px 0px #FFD700;
}

h1 {
    color: #FF0000;
    font-size: 60px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

div{
    display: flex;
    justify-content: center;
}

.contenidocontraseña {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1em;
}
    
.contenidocontraseña input, .contenidocontraseña1 input, .contenidocontraseña2 input {
    width: 100%;
    padding: 0.5em;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    margin-right: 1em;
    border: 0;
    border-bottom: 2px solid #FFD700;
    background-color: transparent;
    color: #FFFFFF;
}
    
.contenidocontraseña button, .contenidocontraseña1 button, .contenidocontraseña2 button {
    background-color: #FFD700;
    border: 2px solid #FFD700;
    color: #000000;
    padding: 0.5em 1em;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    border-radius: 10px;
    margin-left: 1em;
    text-shadow: none;
    box-shadow: 2px 2px 0px #000000;
}
    
.contenidocontraseña button:hover, .contenidocontraseña1 button:hover, .contenidocontraseña2 button:hover {
    background-color: #000000;
    border: 2px solid #000000;
    color: #FFD700;
    text-shadow: 1px 1px 0px #000000;
    box-shadow: 2px 2px 0px #FFD700;
}