@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    display: flex;
    justify-content: center;
}

a {
    color: #0000FF;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: #FF0000;
    font-size: 28px;
    text-decoration: none;
}