@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', sans-serif;
    background-color: #ffffff;
    color: #2c2c2c;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    padding: 20px;
    margin: 0;
  }
  
  .usuario1 {
    font-size: 1em;
    font-weight: 500;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .puntos1 {
    font-size: 1em;
    margin-top: 24px;
    position: absolute;
    top: 30px;
    left: 20px;
  }
  
  .record1 {
    font-size: 1em;
    margin-top: 70px;
    position: absolute;
    top: 30px;
    left: 20px;
  }
  
  .intentos1 {
    font-size: 1em;
    margin-top: 110px;
    position: absolute;
    top: 30px;
    left: 20px;
    display: flex;
    align-items: center;
  }
  
  .iconos1 {
    position: absolute;
    left: 190px;
    top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 130px;
  }

  .iconos1 img{
    width: 20px;
    height: 20px;
    margin: 0px 2px;
  }
  
  .vidas {
    width: 50px;
    height: 50px;
    margin: 0px 2px;
  }

  .usuario2 {
    font-size: 1em;
    font-weight: 500;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .puntos2 {
    font-size: 1em;
    margin-top: 24px;
    position: absolute;
    top: 30px;
    right: 130px;
  }
  
  .record2 {
    font-size: 1em;
    margin-top: 70px;
    position: absolute;
    top: 30px;
    right: 130px;
  }
  
  .intentos2 {
    font-size: 1em;
    margin-top: 110px;
    margin-right: 5px;
    position: absolute;
    top: 30px;
    right: 130px;
    display: flex;
    align-items: center;
  }
  
  .iconos2 {
    position: absolute;
    right: 80px;
    top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 130px;
  }

  .iconos2 img{
    width: 20px;
    height: 20px;
    margin: 0px 2px;
  }

  img{
    display:block;
    margin-left: auto;
    margin-right: auto; 
    width: 50%;
    margin-bottom: 20px;
    border-radius: 5px;
}

form {
    width: 60%;
    padding: 2em;
    border: 4px solid #000000;
    border-radius: 10px;
    margin: 50px auto;
    background-color: #1c1c1c;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    color: #ffffff;
}

form input {
    width: 100%;
    padding: 0.5em;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    margin-bottom: 1em;
    border: 0;
    border-bottom: 2px solid #ffdd00;
    background-color: #1c1c1c;
    color: #ffffff;
}

input[type="text"]{
    font-size: 1.3em;
    width: 95%;
    height: 40px;
    padding: 0 20px;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    color: #d5d5d5;
    margin-bottom: 10px;
}

input[type="submit"]{
    font-size: 1.2em;
    background-color: #ffdd00;
    color: #1c1c1c;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #1c1c1c;
    color: #FFD700;
    text-shadow: 1px 1px 0px #000000;
    box-shadow: 2px 2px 0px #FFD700;
}

div{
    display: flex;
    justify-content: center;
}

audio {
    width: 80%;
    margin: 20px auto;
    display: block;
    border-radius: 5px;
}
  
  audio::-webkit-media-controls-panel {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
  }
  
  audio::-webkit-media-controls-play-button {
    background-color: #fff;
    color: #000;
    border-radius: 50%;
  }
  
  audio::-webkit-media-controls-timeline {
    height: 10px;
    background-color: #444;
    border-radius: 5px;
  }
  
  audio::-webkit-media-controls-current-time-display,
  audio::-webkit-media-controls-time-remaining-display {
    color: #fff;
  }

button {
    padding: 10px;
    background-color: #7F00FF;
    color: #fff;
    border: none;
    font-size: 15px;
    font-family: 'Press Start 2P', sans-serif;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    }
    
button:hover {
    background-color: #FF1493;
}