body{
    font-family: sans-serif;
    background-color: #F0F0F0;
    color: #000000;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.usuario1{
    font-size: 2em;
    font-weight: 500;
    position: fixed;
    top: 0;
    left: 0;
}

.puntos1 {
    font-size: 2em;
    margin-top: 24px; 
    position: fixed;
    top: 30px; 
    left: 0;
}

.record1 {
    font-size: 2em;
    margin-top: 70px;
    position: fixed;
    top: 30px;
    left: 0;
}

.intentos1{
    font-size: 2em;
    margin-top: 110px;
    position: fixed;
    top: 30px;
    left: 0;
    display: flex;
    align-items: center;
}

.iconos1 {
    position: fixed;
    left: 160px;
    top: 30px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 130px; 
}

.vidas{
    width:30px;
    height:30px;
    margin: 0px 2px
}

.usuario2{
    font-size: 2em;
    font-weight: 500;
    position: fixed;
    top: 0;
    right: 0;
}

.puntos2 {
    font-size: 2em;
    margin-top: 24px; 
    position: fixed;
    top: 30px; 
    right: 0;
}

.record2 {
    font-size: 2em;
    margin-top: 70px;
    position: fixed;
    top: 30px;
    right: 0;
}

.intentos2{
    font-size: 2em;
    margin-top: 110px;
    margin-right: 90px;
    position: fixed;
    top: 30px;
    right: 0;
    display: flex;
    align-items: center;
}

.iconos2 {
    position: fixed;
    right: 0;
    top: 30px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 130px; 
}

img{
    display:block;
    margin-left: auto;
    margin-right: auto; 
    width: 50%;
    margin-bottom: 20px;
    border-radius: 5px;
}

input[type="text"]{
    font-size: 1.3em;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    color: #2c2c2c;
    margin-bottom: 10px;
}

input[type="submit"]{
    font-size: 1.2em;
    background-color: #1A62BA;
    color: #ffffff;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #2E86DE;
}

div{
    display: flex;
    justify-content: center;
}