.h1usuariodos{
    float: right; 
    position: absolute; 
    top: 0; 
    right: 0;
}

.h1puntosdos{
    float: right; 
    clear: both; 
    position: absolute; 
    top: 1.5em; 
    right: 0;
}

.h1recorddos{
    float: right; 
    clear: both; 
    position: absolute; 
    top: 3em;
    right: 0;
}

.h1intentosdos{
    float: right; 
    clear: both; 
    position: absolute; 
    top: 4.5em; 
    right: 0;
}

.divintentos{
    float: right; 
    clear: both; 
    position: absolute; 
    top: 14.5em; 
    right: 0;
}

body{
    background: url('../img/fondojuegos.jpg');
    background-size: 100% 100%;
    /* background-attachment: fixed; */
}

.fondologin{
    background-image: url('../img/fondologin.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 90vh;
}

.fondoeleccion {
    background-image: url('../img/fondoeleccion.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.fondoformulario {
    background-image: url('../img/fondoformularios.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 90vh;
}

.fondovictoria{
    background-image: url('../img/fondovictoria.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.fondovictoriados{
    background-image: url('../img/fondovictoria.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.fondoderrota{
    background-image: url('../img/derrotaempate.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%
}

.fondoderrotaempatedos{
    background-image: url('../img/derrotaempate.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.preguntamusica{
    height: 120vh;
    background: url('../img/fondojuegos.jpg');
    background-size: 100% 100%;
    background-attachment: scroll;
}

.altoimagen{
    margin-bottom: 10%;
}

h1, h2, label{
    color:white
}

.colorajax{
    color: white;
}

.claqueta{
    filter: invert(1);
}

a{
    color: white;
}

a:hover{
    color:red;
}

.azul{
    color: blue;
}